<h1>Tasks</h1>

<% @tasks.each do |task| %>
<div >
<h2><%= task.id %>-<%= task.name %></h2>
<p><%= task.state %></p>


<%= link_to "Delete", task_path(task),
    method: :delete,
    data: { confirm: "Are you sure?" } %>
    <%= link_to "edit", edit_task_path(task)%>
<% end %>
</div>


<p><%= link_to 'new task', new_task_path %></p>
